/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.mapcontainer {
    border-style: solid;
    border-width: 1 px;
    border-color: #B3FFD1;
    height: 359px;
}
/*
.processing {
    border-style: solid;
    border-width: 1 px;
    border-color: #B3FFD1;
*/
}

.map1 {
    padding: 25px;

  }

#content {
  margin: 50px auto 0px auto; padding: 25px 25px 15px 25px;
  width: 400px; min-width: 300px; overflow: auto;
  border-left: 1px solid #444; border-top: 1px solid #444;
  border-right: 1px solid #333; border-bottom: 1px solid #333;
  background-color: #3d3d3d;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('https://lmdaly11.github.io/CreativeCodePortfolio/assets/image/freddie.JPG');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

#main {
    background-color: rgba(255,255,255,0.9);
}
#main .img-circle {
  margin-top:18px;
  height:90px;
  width:90px;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
	  text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
  display:block;
  padding:3px;
  background-color:#DB4D00;
  color:#45E685;
  height:40px;
  width:260px;
  margin:15px;
  font-size:26px;
  font-weight:200;
  text-align:center;
  text-decoration:none;
  text-shadow:5px 5px 0 #B3FFD1;
  font-family: 'Anton', sans-serif;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:300;
   font-family: Gill Sans, 'Open Sans',arial,sans-serif;
   color: #BF4300
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}
